Repository avatarneil/pls-changeset-me: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write

.lintstagedrc.json:

{
  "*.ts": "pnpm lint:eslint -- --fix",
  "package.json": ["pnpm lint:prettier -- --write"]
}

promptGeneration working (with user input)
  package.json
  pnpm-lock.yaml
  src/commands/index.ts
  src/commands/promptGeneration.ts
  src/commands/someCmd.ts
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write

Switch promptGeneration -> check
  README.md
  src/commands/check.ts
  src/commands/index.ts
Due: pnpm lint:eslint -- --fix

Add repo link
  package.json
Due: pnpm lint:prettier -- --write

Add headless mode, refactor a little bit & add docs
  .changeset/README.md
  .changeset/config.json
  .changeset/sixty-dingos-nail.md
  .husky/pre-commit
  README.md
  package.json
  pnpm-lock.yaml
  src/commands/check/index.ts
  src/commands/check/typeguards.ts
  src/commands/check/utils.ts
Due: pnpm lint:eslint -- --fix, pnpm lint:prettier -- --write

Check self for mandatory changesets :O
  .husky/pre-commit
Due: none

Check self for mandatory changesets :O
  .changeset/chilled-dancers-develop.md
  .husky/pre-commit
Due: none

Release
  .changeset/chilled-dancers-develop.md
  .changeset/sixty-dingos-nail.md
  .husky/pre-commit
  CHANGELOG.md
  package.json
Due: pnpm lint:prettier -- --write

Update docs
  .husky/pre-commit
  README.md
Due: none

Release v0.0.4
  CHANGELOG.md
  package.json
Due: pnpm lint:prettier -- --write

Release v0.0.5
  CHANGELOG.md
  package.json
Due: pnpm lint:prettier -- --write

Release v0.0.6
  CHANGELOG.md
  package.json
Due: pnpm lint:prettier -- --write

Add codeship badge
  README.md
Due: none

Update lockfile
  pnpm-lock.yaml
Due: none

Update help, remove -h alias for headless mode
  .changeset/late-buttons-own.md
  README.md
  src/commands/check/index.ts
  src/index.ts
Due: pnpm lint:eslint -- --fix

Release v0.0.7
  .changeset/late-buttons-own.md
  CHANGELOG.md
  package.json
Due: pnpm lint:prettier -- --write

Bump dependencies
  .changeset/violet-trainers-argue.md
  package.json
  pnpm-lock.yaml
Due: pnpm lint:prettier -- --write

release v0.0.8
  .changeset/violet-trainers-argue.md
  CHANGELOG.md
  package.json
Due: pnpm lint:prettier -- --write

Move @types/inquirer to devDependencies
  .changeset/khaki-emus-knock.md
  package.json
  pnpm-lock.yaml
Due: pnpm lint:prettier -- --write

release v0.0.9
  .changeset/khaki-emus-knock.md
  CHANGELOG.md
  package.json
Due: pnpm lint:prettier -- --write

Remove -h alias from readme
  README.md
Due: none

Update pre-commit hook
  .husky/pre-commit
Due: none

Bump all dependencies
  .changeset/healthy-timers-confess.md
  package.json
  pnpm-lock.yaml
Due: pnpm lint:prettier -- --write

Bump all dependencies (#1)
  .changeset/healthy-timers-confess.md
  package.json
  pnpm-lock.yaml
Due: pnpm lint:prettier -- --write

release/v0.0.10
  .changeset/healthy-timers-confess.md
  CHANGELOG.md
  package.json
Due: pnpm lint:prettier -- --write

Add release scripting
  .github/workflows/changeset-version.yml
  package.json
Due: pnpm lint:prettier -- --write

Add release scripting (#3)
  .github/workflows/changeset-version.yml
  package.json
Due: pnpm lint:prettier -- --write

Cleanup release scripting
  package.json
Due: pnpm lint:prettier -- --write

Cleanup release scripting (#4)
  package.json
Due: pnpm lint:prettier -- --write

Add HUSKY: 0 to release script
  .github/workflows/changeset-version.yml
Due: none

Add HUSKY: 0 to release script (#5)
  .github/workflows/changeset-version.yml
Due: none

Set package privacy to public in changesets config
  .changeset/chilly-mugs-jam.md
  .changeset/config.json
Due: none

Set package privacy to public in changesets config (#7)
  .changeset/chilly-mugs-jam.md
  .changeset/config.json
Due: none
